Django==5.0.1
django_multiupload==0.6.1
numpy==1.26.3
pytz==2023.3.post1
django-allauth==0.60.0
mysqlclient==2.2.1
google-cloud-bigquery==3.15.0
googlemaps==4.10.0
ultralytics==8.1.2
celery==5.3.6
opencv-python==4.9.0.80
google.cloud==0.34.0
google-cloud-vision==3.5.0
exifread==3.0.0
hachoir==3.3.0
google-generativeai==0.3.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1