{% extends "base.html" %}

{% block content %}
  <h2>Password Change Successful</h2>
  <p>Your password has been changed successfully!</p>
  <p>You will be redirected to your account page in <span id="countdown">10</span> seconds.</p>
  <p>If you are not redirected, <a href="{% url 'accounts:account' %}" id="redirectLink">click here</a>.</p>

  <script>
    // Set the countdown time in seconds
    var timeLeft = 10;
    var countdownElement = document.getElementById('countdown');
    var redirectLink = document.getElementById('redirectLink');

    // Update the countdown every second
    var timerId = setInterval(countdown, 1000);

    function countdown() {
      if (timeLeft == 0) {
        clearTimeout(timerId);
        doRedirect();
      } else {
        countdownElement.innerHTML = timeLeft;
        timeLeft--;
      }
    }

    function doRedirect() {
      // Redirect to the account page
      window.location.href = redirectLink.href;
    }
  </script>
{% endblock %}