/* styles.css */
.button, a.button {
  padding: 10px 15px; /* 默认按钮通常有一些内边距 */
  background-color: #007bff; /* 按钮的默认背景颜色 */
  color: white; /* 文字颜色 */
  border: 1px solid #007bff; /* 模仿按钮默认的边框 */
  border-radius: 5px; /* 圆角边框 */
  cursor: pointer; /* 鼠标指针 */
  text-decoration: none; /* 移除超链接下划线 */
  font-family: inherit; /* 继承字体 */
  font-size: 1rem; /* 指定大小 */
  line-height: normal; /* 行高 */
  display: inline-block; /* 行内块显示 */
  text-align: center; /* 文本居中 */
  vertical-align: middle; /* 垂直居中 */
  transition: background-color 0.3s; /* 背景色变化动画 */
  overflow: hidden; /* 防止溢出 */
  margin: 0; /* 移除外边距 */
  -webkit-appearance: none; /* 移除iOS上的默认样式 */
  -moz-appearance: none; /* 移除Firefox上的默认样式 */
  appearance: none; /* 移除默认的按钮样式 */
}

.button:hover, a.button:hover {
  background-color: #0056b3; /* 鼠标悬停的背景色变化 */
}
